*{
        margin:0;
        padding:0;
        box-sizing:border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    body{
        background: linear-gradient(135deg, #ff61a6, #6ab4ff);
        color:#333;
    }

    nav{
        display:flex;
        justify-content: flex-end;
        padding:20px 50px;
        background:rgba(255,255,255,0.2);
        backdrop-filter:blur(10px);
    }
    nav a{
        text-decoration:none;
        color:white;
        font-weight:bold;
        margin-left:20px;
        padding:8px 16px;
        border-radius:6px;
        transition:0.3s;
    }
    nav a:hover{
        background:rgba(255,255,255,0.3);
    }

    .hero{
        padding:100px 50px;
        min-height:60vh;
    }
    .line1{
        font-size:1rem;
        font-weight:40;
        text-align:center;
        margin-bottom:3px;
        color:white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .line2{
        font-size:5rem;
        font-weight:800;
        text-align:center;
        color:white;
        text-shadow:5px 5px 5px rgba(0,0,0,0.3);
        margin-bottom:10px;
    }
    .line3{
        font-size:0.9rem;
        font-weight:500;
        text-align:center;
        color:white;
        margin-bottom:30px;
    }

    .features{
        width:100%;
        display:flex;
        justify-content:center;
        margin-top:60px;
        margin-bottom:70px;
    }

    .grid{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:40px;
        width:70%;
    }

    .feature-card{
        background:white;
        padding:25px;
        border-radius:15px;
        text-align:center;
        backdrop-filter:blur(5px);
        box-shadow:0 6px 20px rgba(0,0,0,0.2);
        transition:0.3s;
    }
    .feature-card:hover{
        transform:translateY(-5px);
        box-shadow:0 10px 25px rgba(0,0,0,0.25);
    }

    .feature-card h3{
        margin-bottom:12px;
    }
    .testimonial{
        padding:80px 40px;
        background:rgba(0,0,0,0.15);
        text-align:center;
        color:white;
    }
    .testimonial h2{
        margin-bottom:20px;
    }
    .testimonial p{
        max-width:700px;
        margin:auto;
        font-style:italic;
        font-size:1.1rem;
        line-height:1.5;
    }

.feature-card h3 {
    background: linear-gradient(135deg, #ff4f9a, #2f70ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.feature-card p {
    color: black;
    font-size: 0.8rem;
}
